<div class="container">
  <div class="bg-image">
    <div class="form-box">
    <ul id="booking-option" data-controller="options-controller" data-action="click->options#toggle" class="list-unstyled d-flex align-items-center">
      <li value="train">Train</li>
      <li value="flight">Flight</li>
      <li value="hotel">Hotel</li>
    </ul>
      <form class="row g-3" action="<%= travel_preferences_path %>" method="post">
      <!-- Train booking form fields here -->
      <div id="train-fields">
        <div class="col-md-6">
          <label for="destination" class="form-label"><%= t('destination') %></label>
          <select class="form-select form-control" id="destination" name="travel_preference[destination]">
            <% if params[:city] == "Beijing" %>
              <option selected value="<%= params[:city] %>"><%= params[:city] %></option>
              <option value="Guangzhou">Guangzhou</option>
              <option value="Shanghai">Shanghai</option>
            <% elsif params[:city] == "Guangzhou" %>
              <option selected value="<%= params[:city] %>"><%= params[:city] %></option>
              <option value="Beijing">Beijing</option>
              <option value="Shanghai">Shanghai</option>
            <% elsif params[:city] == "Shanghai" %>
              <option selected value="<%= params[:city] %>"><%= params[:city] %></option>
              <option value="Beijing">Beijing</option>
              <option value="Guangzhou">Guangzhou</option>
            <% else %>
              <option value=""><%= t('select') %></option>
              <option value="Guangzhou">Guangzhou</option>
              <option value="Beijing">Beijing</option>
              <option value="Shanghai">Shanghai</option>
            <% end %> 
          </select>
        </div>
        <div class="col-md-4">
          <label for="start_date" class="form-label"><%= t('start_date') %></label>
          <input type="date" class="form-control" id="start_date" name="travel_preference[start_date]" value="<%= @travel_preference.start_date %>">
        </div>
        <div class="col-md-4">
          <label for="end_date" class="form-label"><%= t('end_date') %></label>
          <input type="date" class="form-control" id="end_date" name="travel_preference[end_date]" value="<%= @travel_preference.end_date %>">
        </div>
        <div class="col-md-4">
          <label for="budget" class="form-label"><%= t('budget') %></label>
          <input type="number" class="form-control" id="budget" name="travel_preference[budget]" value="<%= @travel_preference.budget %>">
        </div>
      </div>
      <!-- Flight booking form fields here -->
      <div id="flight-fields">
        <div class="col-md-6">
          <label for="destination" class="form-label"><%= t('destination') %></label>
          <select class="form-select form-control" id="destination" name="travel_preference[destination]">
            <% if params[:city] == "Beijing" %>
              <option selected value="<%= params[:city] %>"><%= params[:city] %></option>
              <option value="Guangzhou">Guangzhou</option>
              <option value="Shanghai">Shanghai</option>
            <% elsif params[:city] == "Guangzhou" %>
              <option selected value="<%= params[:city] %>"><%= params[:city] %></option>
              <option value="Beijing">Beijing</option>
              <option value="Shanghai">Shanghai</option>
            <% elsif params[:city] == "Shanghai" %>
              <option selected value="<%= params[:city] %>"><%= params[:city] %></option>
              <option value="Beijing">Beijing</option>
              <option value="Guangzhou">Guangzhou</option>
            <% else %>
              <option value=""><%= t('select') %></option>
              <option value="Guangzhou">Guangzhou</option>
              <option value="Beijing">Beijing</option>
              <option value="Shanghai">Shanghai</option>
            <% end %> 
          </select>
        </div>
        <div class="col-md-4">
          <label for="start_date" class="form-label"><%= t('start_date') %></label>
          <input type="date" class="form-control" id="start_date" name="travel_preference[start_date]" value="<%= @travel_preference.start_date %>">
        </div>
        <div class="col-md-4">
          <label for="end_date" class="form-label"><%= t('end_date') %></label>
          <input type="date" class="form-control" id="end_date" name="travel_preference[end_date]" value="<%= @travel_preference.end_date %>">
        </div>
        <div class="col-md-4">
          <label for="budget" class="form-label"><%= t('budget') %></label>
          <input type="number" class="form-control" id="budget" name="travel_preference[budget]" value="<%= @travel_preference.budget %>">
        </div>
      </div>
      <!-- Hotel booking form fields here -->
      <div id="hotel-fields">
        <div class="col-md-6">
          <label for="destination" class="form-label"><%= t('destination') %></label>
          <select class="form-select form-control" id="destination" name="travel_preference[destination]">
            <% if params[:city] == "Beijing" %>
              <option selected value="<%= params[:city] %>"><%= params[:city] %></option>
              <option value="Guangzhou">Guangzhou</option>
              <option value="Shanghai">Shanghai</option>
            <% elsif params[:city] == "Guangzhou" %>
              <option selected value="<%= params[:city] %>"><%= params[:city] %></option>
              <option value="Beijing">Beijing</option>
              <option value="Shanghai">Shanghai</option>
            <% elsif params[:city] == "Shanghai" %>
              <option selected value="<%= params[:city] %>"><%= params[:city] %></option>
              <option value="Beijing">Beijing</option>
              <option value="Guangzhou">Guangzhou</option>
            <% else %>
              <option value=""><%= t('select') %></option>
              <option value="Guangzhou">Guangzhou</option>
              <option value="Beijing">Beijing</option>
              <option value="Shanghai">Shanghai</option>
            <% end %> 
          </select>
        </div>
        <div class="col-md-4">
          <label for="start_date" class="form-label"><%= t('start_date') %></label>
          <input type="date" class="form-control" id="start_date" name="travel_preference[start_date]" value="<%= @travel_preference.start_date %>">
        </div>
        <div class="col-md-4">
          <label for="end_date" class="form-label"><%= t('end_date') %></label>
          <input type="date" class="form-control" id="end_date" name="travel_preference[end_date]" value="<%= @travel_preference.end_date %>">
        </div>
        <div class="col-md-4">
          <label for="budget" class="form-label"><%= t('budget') %></label>
          <input type="number" class="form-control" id="budget" name="travel_preference[budget]" value="<%= @travel_preference.budget %>">
        </div>
      </div>
      
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>
</div>
