<DOCTYPE html>
<html>
  <head>
    <title>Ayan Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-7">
        <% if current_user %>
          <p class="lead">Welcome <%= current_user.email %></p>
        <% end %>
          <h1 class="display-4">Zero effort travels to China!</h1>
          <%= t('hello') %>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sagittis nisi id malesuada convallis. Duis sodales, neque vitae rhoncus semper, quam nisi aliquet massa, a malesuada turpis eros vel purus. Sed fermentum eros in tincidunt eleifend. Sed id massa ut nisl malesuada vulputate.</p>
        </div>
        <div class="col-md-5">
          <img src="https://via.placeholder.com/500x500" class="img-fluid rounded">
        </div>
      </div>
      <hr>
      <div class="row mt-4">
        <div class="col-md-4">
        <%= link_to agenda_path(city: "Beijing") do %>
          <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Beijing">
            <div class="card-body">
              <h5 class="card-title">Beijing</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sagittis nisi id malesuada convallis. Duis sodales, neque vitae rhoncus semper, quam nisi aliquet massa, a malesuada turpis eros vel purus. Sed fermentum eros in tincidunt eleifend. Sed id massa ut nisl malesuada vulputate.</p>
            </div>
          </div>
          <% end %>
        </div>
        <div class="col-md-4">
        <%= link_to agenda_path(city: "Shanghai") do %>
          <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Shanghai">
            <div class="card-body">
              <h5 class="card-title">Shanghai</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sagittis nisi id malesuada convallis. Duis sodales, neque vitae rhoncus semper, quam nisi aliquet massa, a malesuada turpis eros vel purus. Sed fermentum eros in tincidunt eleifend. Sed id massa ut nisl malesuada vulputate.</p>
            </div>
          </div>
          <% end %>
        </div>
        <div class="col-md-4">
        <%= link_to agenda_path(city: "Guangzhou") do %>
          <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Guangzhou">
            <div class="card-body">
              <h5 class="card-title">Guangzhou</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sagittis nisi id malesuada convallis. Duis sodales, neque vitae rhoncus semper, quam nisi aliquet massa, a malesuada turpis eros vel purus. Sed fermentum eros in tincidunt eleifend. Sed id massa ut nisl malesuada vulputate.</p>
            </div>
          </div>
          <% end %>
        </div>
    </div>
  </body>

</html>
